body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #1c1f26;
    color: white;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 15px 0;
    font-size: 24px;
}

#map {
    width: 90%;
    height: 80vh;
    margin: auto;
    border: 2px solid white;
    border-radius: 10px;
}
