{% extends "base/base.html" %}

{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/detail.css' %}">
{% endblock %}

{% block content %}
    <h2>Detalles del Usuario</h2>
    
    <p><strong>Nombre:</strong> {{ user.name }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Edad:</strong> {{ user.age }}</p>
    <p><strong>RFC:</strong> {{ user.rfc }}</p>
    <p><strong>Foto:</strong> <img src="{{ user.photo }}" width="100"></p>

    <a href="#editForm" id="editBtn">Editar</a>

    <div id="editForm" style="display:none;">
        <h3>Actualizar Usuario</h3>
        <form method="POST" action="{% url 'userDetail' user.id %}">
            {% csrf_token %}
            
            <label for="name">Nombre:</label>
            <input type="text" id="name" name="name" value="{{ user.name }}" required><br>

            <label for="email">Correo:</label>
            <input type="email" id="email" name="email" value="{{ user.email }}" required><br>

            <label for="rfc">RFC:</label>
            <input type="text" id="rfc" name="rfc" value="{{ user.rfc }}" required><br>

            <button type="submit">Actualizar Usuario</button>
        </form>
    </div>

    <script>
        // Mostrar el formulario de edición al hacer clic en el enlace "Editar"
        document.getElementById("editBtn").addEventListener("click", function() {
            document.getElementById("editForm").style.display = "block";
            document.getElementById("editBtn").style.display = "none";  // Ocultar el botón de edición
        });
    </script>

{% endblock %}