/* General */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

/* Banner */
.banner {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px auto;
    max-width: 1200px;
}

.banner-item {
    width: 50%;
}

.banner-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Segunda Fila de Imágenes */
.imagenes-carnaval {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px auto;
    max-width: 1200px;
}

.carnaval-small {
    width: 25%;
}

.carnaval-large {
    width: 50%;
}

.carnaval-small img,
.carnaval-large img {
    width: 100%;
    height: 500px;
    border-radius: 10px;
}

/* Noticias */
/* Noticias y Eventos Contenedor */
.titulo-noticias {
    text-align: center; /* Centra el texto horizontalmente */
    display: block; /* Asegura que ocupe todo el ancho */
    margin: 50px auto; /* Ajusta el margen superior/inferior y centra horizontalmente */
}

.noticias-eventos-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    max-width: 1200px;
    margin: 100px auto;
}

/* Noticias */
.noticias {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.noticia {
    display: flex;
    flex-direction: column;
    background-color: white;

    width: 100%;
    height: 450px; /* Asegura que tenga una altura mayor que su ancho */
    max-width: 700px; /* Para que no se haga demasiado ancha */
}

/* Ajustar la imagen para que sea más ancha que alta */
.noticia img {
    width: 100%;
    height: 60%; /* Ajusta el alto de la imagen para que no sea cuadrada */
    object-fit: cover; /* Recorta la imagen para llenar el espacio */
}

/* Ajustar el texto para que ocupe menos espacio */
.noticia-info {
    padding: 15px;
    height: 40%; /* Para que no se expanda demasiado */
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* Eventos */
.eventos {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.evento {
    display: flex;
    background-color: white;
    width: 100%;
}

.evento img {
    width: 40%;
    height: auto;
    object-fit: cover;
}

.evento-info {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
