{% extends 'base/base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/eventosform.css' %}">
{% endblock %}


{% block content %}
<script defer src="{% static 'js/eventos.js' %}"></script>
<!-- Formulario de eventos -->
<div class="container">

    <div class="form-container">
        <h1 class="titulo-eventos">Agregar evento</h1>
        <input type="text" id="nombre_evento" placeholder="Nombre del evento">
        <input type="hidden" id="csrf_token" value="{{ csrf_token }}">


        <label for="fecha_inicio">Fecha inicio</label>
        <input type="datetime-local" id="fecha_inicio">

        <label for="fecha_fin">Fecha final</label>
        <input type="datetime-local" id="fecha_fin">

        <label for="localidad">Localidad</label>
        <select id="localidad">
            {% for loc in localidades %}
            <option value="{{ loc.id }}">{{ loc.name }}</option>
            {% endfor %}
        </select>

        <button id="agregar">Agregar</button>
    </div>

    <!-- Tabla de eventos -->
    <h2>Eventos recientemente agregados</h2>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Fecha inicio</th>
                <th>Fecha fin</th>
                <th>Localidad</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody id="eventos_lista">
            <!-- Aquí se llenará la tabla dinámicamente -->
        </tbody>
    </table>
</div>

{% endblock %}